name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '25'
    - name: Console output
      id: console-output
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Console output
        setup-command: mvn compile -f lab42/pom.xml
        command: java -cp lab42/target/classes com.lab.App
        input: ''
        expected-output: |-
          Newly created accounts:
          Account Number: 1234-0001, Balance: 100.00 Baht
          Account Number: 1234-0002, Balance: 200.00 Baht
          Account Number: 1234-0003, Balance: 300.00 Baht
          Account Number: 1234-0004, Balance: 400.00 Baht
          Account Number: 1234-0005, Balance: 500.00 Baht
          Exception caught: Account is unavailable.
          Active accounts:
          Account Number: 1234-0001, Balance: 0.00 Baht
          Account Number: 1234-0003, Balance: 150.00 Baht
          Account Number: 1234-0005, Balance: 700.00 Baht
          Suspended accounts:
          Account Number: 1234-0004, Balance: 400.00 Baht
          Closed accounts:
          Account Number: 1234-0002, Balance: 200.00 Baht
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Unit test 1
      id: unit-test-1
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 1
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testSuspend -p gradle-tests"
        timeout: 10
        max-score: 10
    - name: Unit test 2
      id: unit-test-2
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 2
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testReactivate -p gradle-tests"
        timeout: 10
        max-score: 10
    - name: Unit test 3
      id: unit-test-3
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 3
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testIsActive -p gradle-tests"
        timeout: 10
        max-score: 10
    - name: Unit test 4
      id: unit-test-4
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 4
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testTransferTo -p gradle-tests"
        timeout: 10
        max-score: 10
    - name: Unit test 5
      id: unit-test-5
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 5
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testTransferToThrowsWhenSuspended -p gradle-tests"
        timeout: 10
        max-score: 10
    - name: Unit test 6
      id: unit-test-6
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 6
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testDepositThrowsWhenSuspended -p gradle-tests"
        timeout: 10
        max-score: 5
    - name: Unit test 7
      id: unit-test-7
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 7
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testWithdrawThrowsWhenSuspended -p gradle-tests"
        timeout: 10
        max-score: 5
    - name: Unit test 8
      id: unit-test-8
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 8
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountTest.testFluentApiPattern -p gradle-tests"
        timeout: 10
        max-score: 10
    - name: Unit test 9
      id: unit-test-9
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 9
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountManagerTest.testListAccountsActive -p gradle-tests"
        timeout: 10
        max-score: 5
    - name: Unit test 10
      id: unit-test-10
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 10
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountManagerTest.testListAccountsSuspended -p gradle-tests"
        timeout: 10
        max-score: 5
    - name: Unit test 11
      id: unit-test-11
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 11
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountManagerTest.testListAccountsClosed -p gradle-tests"
        timeout: 10
        max-score: 5
    - name: Unit test 12
      id: unit-test-12
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit test 12
        setup-command: ''
        command: "./gradle-tests/gradlew test --tests org.example.AccountManagerTest.testListAccountsDefault -p gradle-tests"
        timeout: 10
        max-score: 5
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CONSOLE-OUTPUT_RESULTS: "${{steps.console-output.outputs.result}}"
        UNIT-TEST-1_RESULTS: "${{steps.unit-test-1.outputs.result}}"
        UNIT-TEST-2_RESULTS: "${{steps.unit-test-2.outputs.result}}"
        UNIT-TEST-3_RESULTS: "${{steps.unit-test-3.outputs.result}}"
        UNIT-TEST-4_RESULTS: "${{steps.unit-test-4.outputs.result}}"
        UNIT-TEST-5_RESULTS: "${{steps.unit-test-5.outputs.result}}"
        UNIT-TEST-6_RESULTS: "${{steps.unit-test-6.outputs.result}}"
        UNIT-TEST-7_RESULTS: "${{steps.unit-test-7.outputs.result}}"
        UNIT-TEST-8_RESULTS: "${{steps.unit-test-8.outputs.result}}"
        UNIT-TEST-9_RESULTS: "${{steps.unit-test-9.outputs.result}}"
        UNIT-TEST-10_RESULTS: "${{steps.unit-test-10.outputs.result}}"
        UNIT-TEST-11_RESULTS: "${{steps.unit-test-11.outputs.result}}"
        UNIT-TEST-12_RESULTS: "${{steps.unit-test-12.outputs.result}}"
      with:
        runners: console-output,unit-test-1,unit-test-2,unit-test-3,unit-test-4,unit-test-5,unit-test-6,unit-test-7,unit-test-8,unit-test-9,unit-test-10,unit-test-11,unit-test-12
